.rouge {
    color: #ef5466;
}
.bleu {
    color: #2d96c8;
}
.grisclair {
    color: #f9f9f9;
}
.grisfonce {
    color: #8e8e94;
}
.flex {
    display: flex;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.button{
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 20px;
}
.container {
    max-width: 1000px;
    margin: auto;
}
header {
    display: flex;
    align-items: flex-end;
    padding: 20px 40px;
    justify-content: space-between;
    box-shadow: 0 5px #f9f9f9;
}
header img{
    width: 10%;
    height: 10%;
}
nav {
    word-spacing: 20px;
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
nav button{
    background-color: white;
}
nav button:hover{
    background-color: #2d96c8;
    color: white;
}
.diapo {
    background: url(img/hero.png) no-repeat right;
    background-size: 50%;
    margin-right: 50px;
    padding: 40px 0;
}
.image{
    display: none;
}
.diapo p {
    width: 400px;
    font-size: 40px;
    font-weight: bolder; 
}
.diapo h2 {
    width: 400px;
}
.diapo button {
    margin: 20px 10px;
    background-color: white;
}
.diapo button:hover{
    background-color: #ef5466;
    color: white;
}
.deezer {
    background-color: #f9f9f9;
    padding: 40px 0;
}
.deezer img {
    height: 30%;
    width: 30%;
}
h2 {
    font-size: 40px;
    font-weight: bolder; 
}
h3 {
    font-size: 20px;
    font-weight: bold; 
    margin: 30px 0;
}
.margindetail{
    margin: 0 30px;
}
.redzone {
    background-color: #ef5466;
    padding: 40px;
    color: white;
}
.redzone .flex {
    align-items: center;
}
.redzone .icon{
    width: 80%;
}
.redzone img {
    margin: 0 5px;
    height: 10%;
    width: 10%;
}
.redzone h2 {
    margin: 0 0 10px 30px;
}   

.offres h2{
    margin: 50px 0;
}
.offres .flex {
    margin: 0 0 50px 0;
}
.choix {
    width: 200px;
    box-shadow: 0 5px 10px 5px #8e8e94;
    padding: 0 30px;
    margin: auto;
}
.offres .container {
    text-align: center;
}
.choix .grisfonce {
    text-align: left;
}
.choix button {
    margin: 20px 0;
}
.choix a, .promotion a {
    text-decoration: none;
    margin: 0 0 30px 0;
    display: block;
    font-weight: bolder;
}
.promotion{
    background-color: #f9f9f9;
}
.promotion .flex{
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 0 0;
}
.promo {
    max-width: 800px;
}
.footer {
    background-color: black;

}
.telecharger {
    color: white;
    border: 1px solid white;
    border-radius: 4%;
    width: 130px;
    padding: 10px;
    margin: 20px;
}
.footer .flex {
    padding: 20px;
    justify-content: space-around;
}
@media only screen and (max-width: 600px) {
    body{
        text-align: center;
    }
    nav {
        display: none;
    }
    header {
        justify-content: center;
    }
    header img {
        height: 30%;
        width: 30%
    }
    .diapo h2, .diapo p {
        font-size: 30px;
        text-align: center;
    }
    .diapo .container{
        width:100%;
        margin:auto;
    }
    .diapo .container .flex{
        flex-direction: column;
    }
    .diapo{
        background-image: none;
        margin:auto;
    }
    .diapo h2, .diapo p {
        width: 100%
    }
    .image{
        display: block;
    }
    .image img {
        height: 100%;
        width: 100%
    }
    .offres .flex {
        flex-direction: column;
    }
    .phone {
        display: none;
    }
    .deezer .flex {
        flex-direction: column;
    }
    .redzone .flex{
        flex-direction: column-reverse;
    }
    .redzone .icon{
        flex-direction: row;
        margin: 30px 0 0 0;
    }
    .promotion .flex {
        flex-direction: column;
    }
    .promo {
        text-align: center;
        padding: 0 20px;
    }
    .choix {
        margin-bottom: 40px;
    }
    .promotion button {
        margin-bottom: 30px;
    }
}
